@font-face {
    font-family: 'MapoAgape';
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/mapo/MapoAgape.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/mapo/MapoAgape.woff) format('woff');
}
