@font-face {
    font-family: 'Nanum Pen';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumPen.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumPen.woff) format('woff'),
         url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumPen.ttf) format('truetype');
    font-display: swap;
}
  
  
  
  