@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothic.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothic.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicBold.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicBold.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicExtraBold.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicExtraBold.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicExtraBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicLight.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicLight.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/webstoryboy/fonts/nanum/NanumGothicLight.ttf) format('truetype');
  font-display: swap;
}

